<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="80"
    [imageSrc]="'../../../assets/html.png'"
    [showImage]="true"
    [imageHeight]="155"
    [imageWidth]="155"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="80"
    [imageSrc]="'../../../assets/css.png'"
    [showImage]="true"
    [imageHeight]="155"
    [imageWidth]="155"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="80"
    [imageSrc]="'../../../assets/js.png'"
    [showImage]="true"
    [imageHeight]="180"
    [imageWidth]="180"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="80"
    [imageSrc]="'../../../assets/github2.png'"
    [showImage]="true"
    [imageHeight]="140"
    [imageWidth]="140"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="80"
    [imageSrc]="'../../../assets/ingles.png'"
    [showImage]="true"
    [imageHeight]="161"
    [imageWidth]="161"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
 <div class="text-center col-sm-4 col-md4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="80"
    [imageSrc]="'../../../assets/trabajogrupal.png'"
    [showImage]="true"
    [imageHeight]="140"
    [imageWidth]="140"
    [title]="'HTML'"
    [showUnits]="false"
    [titleColor]="'white'"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#39FF14'"
    [innerStrokeColor]="'black'"
    [animation]="true"
    [animationDuration]="1900"
  ></circle-progress>
 </div>
</div>
