<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.png" class="img-fluid" id="yo">
    </div>
    <div *ngFor="let item of formulario" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h4>{{item.nombre}} {{item.apellido}} </h4>
        
        <p>Full Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="acerca">Acerca de mí</h1>
            <p class="text">
                Mí nombre es Leonel Arias, me encuentro en la búsqueda de un trabajo en el ámbito de la programación, es algo que me apasiona con locura desde niño, siempre estuve indagando sobre el tema y es por eso que mis padres me llevaron a una escuela técnica, dónde pude obtener algo de conocimiento sobre la programación como por ejemplo: HTML, CSS y JAVA.

                Ahora mismo me encuentro haciendo el curso argentina programa, cursando la segunda etapa #YoProgramo.
 
                También estoy cursando la carrera Licenciatura en ciencias de la computación, esperando a terminar el año para cambiarme a analista de sistemas y además tengo pensando el año que viene empezar un curso de inglés en la municipalidad de Rosario.

                Contando con muchísimas ganas de aprender nuevas tecnologías, utilizando la lógica para resolver situaciones y nuevos desafíos que se me presenten.
            </p>
        </span>
    </div>
</div>

