<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
     <ul>
      <li>
          <h4>Tecnica 6 ing.Luis Bernardo LaPorte</h4> - <h3>(2015-2021)</h3>
      </li>
      <p>
          Lugar donde me recibí como tecnico informatico profesional, adquiriendo varios conocimientos sobre la programación. Entre otras cosas como por ejemplo el mantenimiento de PCs tanto por el lado del software y hardware.
      </p>
     </ul>
     <ul>
      <li>
          <h4>Argentina Programa</h4> - <h3>(2022-2023)</h3>
      </li>
      <p>
        Una capacitación de programación gratuita y virtual organizada en dos etapas: #SéProgramar, en donde vas a aprender los fundamentos básicos para aprender a programar y
         #YoProgramo, en la que vas a profundizar tus conocimientos y capacitarte para convertirte en un programador web full stack junior.
      </p>
     </ul>
    </div>
  </div>
