<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
     <ul>
      <li>
          <h4>Estudio 1</h4> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores reprehenderit autem voluptas officiis atque qui officia, blanditiis laboriosam, veniam sequi explicabo illum dolor vero deleniti magni eos voluptatum quae itaque.
      </p>
     </ul>
     <ul>
      <li>
          <h4>Estudio 2</h4> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores reprehenderit autem voluptas officiis atque qui officia, blanditiis laboriosam, veniam sequi explicabo illum dolor vero deleniti magni eos voluptatum quae itaque.
      </p>
     </ul>
     <ul>
      <li>
          <h4>Estudio 3</h4> - <h3>(years)</h3>
      </li>
      <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores reprehenderit autem voluptas officiis atque qui officia, blanditiis laboriosam, veniam sequi explicabo illum dolor vero deleniti magni eos voluptatum quae itaque.
      </p>
     </ul>
    </div>
  </div>
